* {
    font-family: 'Comme', sans-serif !important;
    font-family: 'Libre Baskerville', serif;
    margin-left: 2%;
}

h1 {
    color: white;
    margin-top: 20px;
    margin-bottom: 15px;
}

h2 {
    color: white;
    text-align: center;
}

li {
    list-style-type: none;
}

.feature-p {
    color: red;
}

.feature-col1 {
    border-right: 1px solid grey;
    
}

.nav-pills .nav-link {
    border-radius: 5rem !important;
}

@media (max-width: 400px) {
   .profile-rim {
    display: none;   
    }
}

@media (max-width: 991px) {

    .feature-col1 {
    border: none;
    }
}